body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-86px;
  width:896px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:779px;
}
#u261 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:217px;
  width:375px;
  height:779px;
  display:flex;
}
#u261 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u261_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u262_img {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:0px;
  width:52px;
  height:52px;
}
#u262 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:305px;
  width:40px;
  height:40px;
  display:flex;
  font-size:12px;
  color:#FFFFFF;
}
#u262 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u262_img.mouseDown {
}
#u262.mouseDown {
}
#u262_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:779px;
}
#u263 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:217px;
  width:375px;
  height:779px;
  display:flex;
}
#u263 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u263_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u264 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:345px;
  width:0px;
  height:0px;
}
#u264_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:223px;
}
#u264_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:213px;
  width:177px;
  height:10px;
}
#u264_seg2 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:208px;
  width:20px;
  height:20px;
}
#u264_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:187px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
